html,
body {
  margin: 0;
  height: 100%;
  /* background: #000000; */
}

p {
  margin-left: 10pt;
  font-size: 1.5rem;
  line-height: 1.2;
}

#my-video {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  display: block;
}

#centered {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.4;
}